<a href="https://colab.research.google.com/github/pullz6/Netflix-Show-Classification-Pyspark/blob/main/Netflix_Shows_Classification_with_Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
#Setting up the pyspark
from google.colab import drive
drive.mount('/content/drive')
#Installing Java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
# Unpack Spark from google drive
!tar xzf /content/drive/MyDrive/spark-3.3.0-bin-hadoop3.tgz
# Set up environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "spark-3.3.0-bin-hadoop3"
# Install findspark, which helps python locate the psyspark module files
!pip install -q findspark
import findspark
findspark.init()
# Finally, we initialse a "SparkSession", which handles the computations
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [45]:
### Load the California Housing Prices Dataset
# .read, .option, .csv

usersCsvPath = "/content/drive/MyDrive/sample_data/Projects/Netflix-Data/netflix_titles.csv"

netflixDF = (spark
             .read
             .option('header', True)
             .option('inferSchema', True)
             .csv(usersCsvPath))

netflixDF.show(5)
netflixDF.printSchema()

+-------+-------+--------------------+---------------+--------------------+-------------+------------------+------------+------+---------+--------------------+--------------------+
|show_id|   type|               title|       director|                cast|      country|        date_added|release_year|rating| duration|           listed_in|         description|
+-------+-------+--------------------+---------------+--------------------+-------------+------------------+------------+------+---------+--------------------+--------------------+
|     s1|  Movie|Dick Johnson Is Dead|Kirsten Johnson|                null|United States|September 25, 2021|        2020| PG-13|   90 min|       Documentaries|As her father nea...|
|     s2|TV Show|       Blood & Water|           null|Ama Qamata, Khosi...| South Africa|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|After crossing pa...|
|     s3|TV Show|           Ganglands|Julien Leclercq|Sami Bouajila, Tr...|         null|September 24, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, I...|To protect his fa...|
|     s4|TV Show|Jailbirds New Orl...|           null|                null|         null|September 24, 2021|        2021| TV-MA| 1 Season|Docuseries, Reali...|Feuds, flirtation...|
|     s5|TV Show|        Kota Factory|           null|Mayur More, Jiten...|        India|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|In a city of coac...|
+-------+-------+--------------------+---------------+--------------------+-------------+------------------+------------+------+---------+--------------------+--------------------+
only showing top 5 rows

root
 |-- show_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: string (nullable = true)
 |-- release_year: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)

In [46]:
from pyspark.sql.functions import to_date, col
netflixDF = netflixDF.withColumn("date", to_date(col("date_added"), "yyyy-MM-dd"))
netflixDF.show()

+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+----+
|show_id|   type|               title|            director|                cast|             country|        date_added|release_year|rating| duration|           listed_in|         description|date|
+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+----+
|     s1|  Movie|Dick Johnson Is Dead|     Kirsten Johnson|                null|       United States|September 25, 2021|        2020| PG-13|   90 min|       Documentaries|As her father nea...|null|
|     s2|TV Show|       Blood & Water|                null|Ama Qamata, Khosi...|        South Africa|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|After crossing pa...|null|
|     s3|TV Show|           Ganglands|     Julien Leclercq|Sami Bouajila, Tr...|                null|September 24, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, I...|To protect his fa...|null|
|     s4|TV Show|Jailbirds New Orl...|                null|                null|                null|September 24, 2021|        2021| TV-MA| 1 Season|Docuseries, Reali...|Feuds, flirtation...|null|
|     s5|TV Show|        Kota Factory|                null|Mayur More, Jiten...|               India|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|In a city of coac...|null|
|     s6|TV Show|       Midnight Mass|       Mike Flanagan|Kate Siegel, Zach...|                null|September 24, 2021|        2021| TV-MA| 1 Season|TV Dramas, TV Hor...|The arrival of a ...|null|
|     s7|  Movie|My Little Pony: A...|Robert Cullen, Jo...|Vanessa Hudgens, ...|                null|September 24, 2021|        2021|    PG|   91 min|Children & Family...|Equestria's divid...|null|
|     s8|  Movie|             Sankofa|        Haile Gerima|Kofi Ghanaba, Oya...|United States, Gh...|September 24, 2021|        1993| TV-MA|  125 min|Dramas, Independe...|On a photo shoot ...|null|
|     s9|TV Show|The Great British...|     Andy Devonshire|Mel Giedroyc, Sue...|      United Kingdom|September 24, 2021|        2021| TV-14|9 Seasons|British TV Shows,...|A talented batch ...|null|
|    s10|  Movie|        The Starling|      Theodore Melfi|Melissa McCarthy,...|       United States|September 24, 2021|        2021| PG-13|  104 min|    Comedies, Dramas|A woman adjusting...|null|
|    s11|TV Show|Vendetta: Truth, ...|                null|                null|                null|September 24, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, D...|"Sicily boasts a ...|null|
|    s12|TV Show|    Bangkok Breaking|   Kongkiat Komesiri|Sukollawat Kanaro...|                null|September 23, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, I...|Struggling to ear...|null|
|    s13|  Movie|        Je Suis Karl| Christian Schwochow|Luna Wedler, Jann...|Germany, Czech Re...|September 23, 2021|        2021| TV-MA|  127 min|Dramas, Internati...|After most of her...|null|
|    s14|  Movie|Confessions of an...|       Bruno Garotti|Klara Castanho, L...|                null|September 22, 2021|        2021| TV-PG|   91 min|Children & Family...|When the clever b...|null|
|    s15|TV Show|Crime Stories: In...|                null|                null|                null|September 22, 2021|        2021| TV-MA| 1 Season|British TV Shows,...|Cameras following...|null|
|    s16|TV Show|   Dear White People|                null|Logan Browning, B...|       United States|September 22, 2021|        2021| TV-MA|4 Seasons|TV Comedies, TV D...|"Students of colo...|null|
|    s17|  Movie|Europe's Most Dan...|Pedro de Echave G...|                null|                null|September 22, 2021|        2020| TV-MA|   67 min|Documentaries, In...|Declassified docu...|null|
|    s18|TV Show|     Falsa identidad|                null|Luis Ernesto Fran...|              Mexico|September 22, 2021|        2020| TV-MA|2 Seasons|Crime TV Shows, S...|Strangers Diego a...|null|
|    s19|  Movie|           Intrusion|          Adam Salky|Freida Pinto, Log...|                null|September 22, 2021|        2021| TV-14|   94 min|           Thrillers|After a deadly ho...|null|
|    s20|TV Show|              Jaguar|                null|Blanca Suárez, Iv...|                null|September 22, 2021|        2021| TV-MA| 1 Season|International TV ...|In the 1960s, a H...|null|
+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+----+
only showing top 20 rows

In [47]:
from pyspark.sql.functions import split
netflixDF = netflixDF.withColumn("date_list", split(netflixDF.date_added, " "))
netflixDF.show()

+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+----+--------------------+
|show_id|   type|               title|            director|                cast|             country|        date_added|release_year|rating| duration|           listed_in|         description|date|           date_list|
+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+----+--------------------+
|     s1|  Movie|Dick Johnson Is Dead|     Kirsten Johnson|                null|       United States|September 25, 2021|        2020| PG-13|   90 min|       Documentaries|As her father nea...|null|[September, 25,, ...|
|     s2|TV Show|       Blood & Water|                null|Ama Qamata, Khosi...|        South Africa|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|After crossing pa...|null|[September, 24,, ...|
|     s3|TV Show|           Ganglands|     Julien Leclercq|Sami Bouajila, Tr...|                null|September 24, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, I...|To protect his fa...|null|[September, 24,, ...|
|     s4|TV Show|Jailbirds New Orl...|                null|                null|                null|September 24, 2021|        2021| TV-MA| 1 Season|Docuseries, Reali...|Feuds, flirtation...|null|[September, 24,, ...|
|     s5|TV Show|        Kota Factory|                null|Mayur More, Jiten...|               India|September 24, 2021|        2021| TV-MA|2 Seasons|International TV ...|In a city of coac...|null|[September, 24,, ...|
|     s6|TV Show|       Midnight Mass|       Mike Flanagan|Kate Siegel, Zach...|                null|September 24, 2021|        2021| TV-MA| 1 Season|TV Dramas, TV Hor...|The arrival of a ...|null|[September, 24,, ...|
|     s7|  Movie|My Little Pony: A...|Robert Cullen, Jo...|Vanessa Hudgens, ...|                null|September 24, 2021|        2021|    PG|   91 min|Children & Family...|Equestria's divid...|null|[September, 24,, ...|
|     s8|  Movie|             Sankofa|        Haile Gerima|Kofi Ghanaba, Oya...|United States, Gh...|September 24, 2021|        1993| TV-MA|  125 min|Dramas, Independe...|On a photo shoot ...|null|[September, 24,, ...|
|     s9|TV Show|The Great British...|     Andy Devonshire|Mel Giedroyc, Sue...|      United Kingdom|September 24, 2021|        2021| TV-14|9 Seasons|British TV Shows,...|A talented batch ...|null|[September, 24,, ...|
|    s10|  Movie|        The Starling|      Theodore Melfi|Melissa McCarthy,...|       United States|September 24, 2021|        2021| PG-13|  104 min|    Comedies, Dramas|A woman adjusting...|null|[September, 24,, ...|
|    s11|TV Show|Vendetta: Truth, ...|                null|                null|                null|September 24, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, D...|"Sicily boasts a ...|null|[September, 24,, ...|
|    s12|TV Show|    Bangkok Breaking|   Kongkiat Komesiri|Sukollawat Kanaro...|                null|September 23, 2021|        2021| TV-MA| 1 Season|Crime TV Shows, I...|Struggling to ear...|null|[September, 23,, ...|
|    s13|  Movie|        Je Suis Karl| Christian Schwochow|Luna Wedler, Jann...|Germany, Czech Re...|September 23, 2021|        2021| TV-MA|  127 min|Dramas, Internati...|After most of her...|null|[September, 23,, ...|
|    s14|  Movie|Confessions of an...|       Bruno Garotti|Klara Castanho, L...|                null|September 22, 2021|        2021| TV-PG|   91 min|Children & Family...|When the clever b...|null|[September, 22,, ...|
|    s15|TV Show|Crime Stories: In...|                null|                null|                null|September 22, 2021|        2021| TV-MA| 1 Season|British TV Shows,...|Cameras following...|null|[September, 22,, ...|
|    s16|TV Show|   Dear White People|                null|Logan Browning, B...|       United States|September 22, 2021|        2021| TV-MA|4 Seasons|TV Comedies, TV D...|"Students of colo...|null|[September, 22,, ...|
|    s17|  Movie|Europe's Most Dan...|Pedro de Echave G...|                null|                null|September 22, 2021|        2020| TV-MA|   67 min|Documentaries, In...|Declassified docu...|null|[September, 22,, ...|
|    s18|TV Show|     Falsa identidad|                null|Luis Ernesto Fran...|              Mexico|September 22, 2021|        2020| TV-MA|2 Seasons|Crime TV Shows, S...|Strangers Diego a...|null|[September, 22,, ...|
|    s19|  Movie|           Intrusion|          Adam Salky|Freida Pinto, Log...|                null|September 22, 2021|        2021| TV-14|   94 min|           Thrillers|After a deadly ho...|null|[September, 22,, ...|
|    s20|TV Show|              Jaguar|                null|Blanca Suárez, Iv...|                null|September 22, 2021|        2021| TV-MA| 1 Season|International TV ...|In the 1960s, a H...|null|[September, 22,, ...|
+-------+-------+--------------------+--------------------+--------------------+--------------------+------------------+------------+------+---------+--------------------+--------------------+----+--------------------+
only showing top 20 rows

In [48]:
date_listing = netflixDF.select(
    netflixDF.date_list.getItem(0).alias('month'),
    netflixDF.date_list.getItem(1).alias('date'),
    netflixDF.date_list.getItem(2).alias('year'),
)

date_listing.show()

+---------+----+----+
|    month|date|year|
+---------+----+----+
|September| 25,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 23,|2021|
|September| 23,|2021|
|September| 22,|2021|
|September| 22,|2021|
|September| 22,|2021|
|September| 22,|2021|
|September| 22,|2021|
|September| 22,|2021|
|September| 22,|2021|
+---------+----+----+
only showing top 20 rows

In [49]:
import pyspark.sql.functions as f
date_corrected = date_listing.select("date", f.regexp_replace(f.col("date"), ",", "").alias("date_corrected")).show()

+----+--------------+
|date|date_corrected|
+----+--------------+
| 25,|            25|
| 24,|            24|
| 24,|            24|
| 24,|            24|
| 24,|            24|
| 24,|            24|
| 24,|            24|
| 24,|            24|
| 24,|            24|
| 24,|            24|
| 24,|            24|
| 23,|            23|
| 23,|            23|
| 22,|            22|
| 22,|            22|
| 22,|            22|
| 22,|            22|
| 22,|            22|
| 22,|            22|
| 22,|            22|
+----+--------------+
only showing top 20 rows

In [50]:
date_listing.show()

+---------+----+----+
|    month|date|year|
+---------+----+----+
|September| 25,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 24,|2021|
|September| 23,|2021|
|September| 23,|2021|
|September| 22,|2021|
|September| 22,|2021|
|September| 22,|2021|
|September| 22,|2021|
|September| 22,|2021|
|September| 22,|2021|
|September| 22,|2021|
+---------+----+----+
only showing top 20 rows

In [54]:
import datetime
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
def convert_datetime(month_name):
  print(month_name)
  """This function is to create string month into correct numerical form"""
  datetime_object = datetime.datetime.strptime(month_name, "%B")
  month_number = datetime_object.month
  return month_number

numericalCaseUDF = udf(lambda x:convert_datetime(x),IntegerType())

In [55]:
date_listing.withColumn("Month",col("Month").cast('string'))
print(date_listing.schema)
date_listing.dropna().show(truncate=False)
#

StructType([StructField('month', StringType(), True), StructField('date', StringType(), True), StructField('year', StringType(), True)])
+---------+----+----+
|month    |date|year|
+---------+----+----+
|September|25, |2021|
|September|24, |2021|
|September|24, |2021|
|September|24, |2021|
|September|24, |2021|
|September|24, |2021|
|September|24, |2021|
|September|24, |2021|
|September|24, |2021|
|September|24, |2021|
|September|24, |2021|
|September|23, |2021|
|September|23, |2021|
|September|22, |2021|
|September|22, |2021|
|September|22, |2021|
|September|22, |2021|
|September|22, |2021|
|September|22, |2021|
|September|22, |2021|
+---------+----+----+
only showing top 20 rows

In [56]:
date_listing.select(f.col("month"),numericalCaseUDF(f.col("month"))).show(truncate=False)

PythonException: ignored